@charset "UTF-8";
//块;
@mixin db($args:false){
	@if( $args ){
		display:block !important;
	}@else{
		display:block;
	}
}
//隐藏
@mixin dn($args:false){
	@if( $args ){
		display:none !important;
	}@else{
		display:none;
	}
}
//行内
@mixin din{
	display:inline;
}
//行内快
@mixin dinb{
	display:inline-block;
	@if( allBrowser() ){
		*display: inline; *zoom: 1;
	}
}
//table;
@mixin dtb{
	display:table;
}
//怪异盒模型;
@mixin bsz( $type: border-box ) {
	@include c3Pre( box-sizing, $type );
}
