@charset "UTF-8";
// margin/paddin;

//margin;
@mixin mg( $size... ){
	margin: addUnit($size...);
}

//padding;
@mixin pd( $size... ){
	padding: addUnit($size...);
}

//上margin
@mixin mgt( $size ){
	margin-top: addUnit($size);
}

//右margin
@mixin mgr( $size ){
	margin-right: addUnit($size);
}

//下margin
@mixin mgb( $size ){
	margin-bottom: addUnit($size);
}

//左margin
@mixin mgl( $size ){
	margin-left: addUnit($size);
}

//上padding
@mixin pdt( $size ){
	padding-top: addUnit($size);
}

//右padding
@mixin pdr( $size ){
	padding-right: addUnit($size);
}

//下padding
@mixin pdb( $size ){
	padding-bottom: addUnit($size);
}

//左padding;
@mixin pdl( $size ){
	padding-left: addUnit($size);
}

//上下margin
@mixin mgtb( $size1,$size2:$size1 ){
	margin-top: addUnit($size1);
	margin-bottom: addUnit($size2);
}

//左右margin
@mixin mglr( $size1,$size2:$size1 ){
	margin-left: addUnit($size1);
	margin-right: addUnit($size2);
}

//上下padding
@mixin pdtb( $size1,$size2:$size1 ){
	padding-top: addUnit($size1);
	padding-bottom: addUnit($size2);
}

//左右padding
@mixin pdlr( $size1,$size2:$size1 ){
	padding-left: addUnit($size1);
	padding-right: addUnit($size2);
}



