@charset "utf-8";
// 重置

@mixin reset {
	body, div, dl, dt, dd, ul, ol, li, table, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, p, blockquote, tr, th, td, tbody, tfoot, thead, select {
		margin: 0;
		padding: 0;
	}
	h1, h2, h3, h4, h5, h6 {
		text-decoration: none;
		font-weight: normal;
		font-size: 100%;
	}
	s, i, em {
		font-style: normal;
		text-decoration: none;
	}
	fieldset, img, input, button, textarea {
		border: none;
		padding: 0;
		margin: 0;
		outline-style: none;
		vertical-align: baseline
	}
	li {
		list-style: none;
	}
	textarea {
		resize: none;
	}
	/*防止拖动*/

	html, body {
		background: #fff;
		color: #000;
		font-size: 14px;
		font-family: "Microsoft YaHei", "SimSun", "宋体", "sans-serif";
		-ms-text-size-adjust: 100%;
		-webkit-text-size-adjust: 100%
	}
	legend {
		color: #000;
	}
	fieldset, img {
		border: 0;
	}
	button, input, select, textarea {
		font-size: 100%;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}
	select, input, button, img {
		border: 0;
		vertical-align: middle;
	}
	a {
		text-decoration: none;
	}
	a:link,a:visited,a:hover, a:active, a:focus {
		color: #000;
		text-decoration: none;
	}
	.clearfix {
		*zoom: 1;
		&:after {
			content: "";
			display: table;
			height: 0;
			clear: both;
			visibility: hidden;
			overflow: hidden;
		}
	}
}
