@charset "utf-8";
// 零碎汇总;

//垂直对齐方式;
@mixin vertical-align( $direction:middle ){
	vertical-align: $direction;
}
//顶端;
@mixin vat{
	@include vertical-align(top);
}
//中间;
@mixin vac{
	@include vertical-align(middle);
}
//底部;
@mixin vab{
	@include vertical-align(bottom);
}

//超出隐藏;
@mixin ofh{overflow:hidden; }
//超出显示;
@mixin ofv{overflow:visible !important;}

//鼠标样式;
@mixin cu( $args:pointer ){
	cursor:$args
}
//小手;
@mixin cup{
	@include cu;
}
//默认;
@mixin cud{
	@include cu(default);
}
//隐藏
@mixin cun {
	cursor: none !important;
}
//透明度;
@mixin opa($opacity:1) {
	opacity: $opacity;
	@if( allBrowser() or $ieLow ){
		filter: alpha(opacity=$opacity*100); //IE8
	}
}
//禁止textarea拖动大小;
@mixin no-resize{
	resize: none;
}
