@charset "UTF-8";
// 宽高的混合宏;
//宽;
@mixin w( $width) {
	width: addUnit($width);
}

//高;
@mixin h( $height) {
	height: addUnit($height);
}

//最大高;
@mixin mxh( $height) {
	max-height: addUnit($height);
}

//最大宽;
@mixin mxw( $width) {
	max-width: addUnit($width);
}

//最小高;
@mixin mih($height) {
	min-height: addUnit($height);
	@if( allBrowser() ){
		_height:addUnit($height);
	}
}

//最小宽;
@mixin miw($width) {
	min-width: addUnit($width);
	@if( allBrowser() ){
		_width:addUnit($width);
	}
}

//宽/高;
@mixin wh($width, $height:$width) {
		@include w($width);
		@include h($height);
}

//设置pc居中容器;
@mixin auto-w( $width:1000 ) {
	@include w($width);
	@include mlr(auto);
}

