@charset "UTF-8";
// 文本的混合宏;

//超出一行....;
@mixin overDot{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//多行显示...;
@mixin overDot-M( $row:2 ){
	@include c3Pre(line-clamp,$row);//用来限制在一个块元素显示的文本行数
	@include c3Pre(display,-webkit-box);//必须。将对象作为弹性伸缩盒子模型
	@include c3Pre(box-orient,vertical);//必须。设置或检索伸缩盒对象的子元素的排列方式
	overflow : hidden;
	text-overflow: ellipsis;
}

//强制折行;
@mixin break{
	word-break:break-all; //支持IE，chrome，Fox不支持
	word-wrap:break-word; //支持IE，chrome，Fox
}

//断行;
@mixin wd-wp($wrap: break-word) {
	overflow-wrap: $wrap;
	word-wrap: $wrap;
	@if $wrap == break-word {
		word-break: break-all;
	} @else {
		word-break: $wrap;
	}
}

//设置text-indent;
@mixin tin( $value:2em ){
	text-indent:addUnit($value);
}

//隐藏文字;
@mixin thi($num:101%){
	@include tin($num);
	white-space: nowrap;
	overflow: hidden;
}

//显示图标;
@mixin show-pic($image,$x:50%,$y:50%){
	@include thi();
	background-image:$image;
	background-repeat:no-repeat;
	background-position:$x $y;
}

//改变单词间的间隔(兼容ie);
@mixin tj( $arg:auto ){
	text-justify : $arg;
}

//设置文字对齐方式;
@mixin ta( $direction:left , $arg:false ){
	text-align: $direction;
	@if( $arg and allBrowser() ){
		@include tj( $arg );
	}
}

//文字居左对齐;
@mixin tal{
	@include ta(left);
}

//文字居右对齐;
@mixin tar{
	@include ta(right);
}

//文字居中对齐;
@mixin tac{
	@include ta(center);
}

//文本样式
@mixin td( $args:line-through ){
	text-decoration : $args;
}

//上划线;
@mixin line-top{
	@include td(overline);
}

//删除线;
@mixin line-del{
	@include td(line-through);
}

//下划线;
@mixin line-bot{
	@include td(underline);
}

//闪烁;
@mixin line-bli{
	@include td(blink);
}

//取消下划线;
@mixin line-no{
	@include td(none !important);
}

// 美化占位符 placeholder 样式
@mixin beauty-pla($fz:12, $color: #999, $align: left) {
	&:-moz-placeholder {
		@include fz($fz);
		@include c($color);
		@include ta($align);
	}
	&:-ms-input-placeholder {
		@include fz($fz);
		@include c($color);
		@include ta($align);
	}
	&::-webkit-input-placeholder {
		@include fz($fz);
		@include c($color);
		@include ta($align);
	}
}
//美化选中文本
@mixin beauty-sel( $bg:#00F, $color:#fff) {
	&::selection {
		background: $bg;
		color: $color;
	}
	&::-moz-selection {
		background: $bg;
		color: $color;
	}
	&::-webkit-selection {
		background: $bg;
		color: $color;
	}
	&::-ms-selection {
		background: $bg;
		color: $color;
	}
	&::-o-selection {
		background: $bg;
		color: $color;
	}
}
